# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# Typescript output
dist

# Dependency directory
node_modules

# OSX
.DS_Store

# ESLint config
.eslintrc.json

# Language files
text/*.json
data/emotes.json
data/shittyEmotes.json
